/* Главный цвет на странице  #757575; */
/* Цвет заголовков h2-h6+цвет навигации #212121; */
/* Цвет подсветки #2196F3; */
/* Вторичный цвет+h1 #FFFFFF;*/
/* Цвет контактов в футере rgba(255, 255, 255, 0.6); */
:root {
    --primary-text-color: #757575;
    --heading-h2-h6-text-color: #212121; 
    --backlight-color: #2196F3;
}

body {
    color: var(--primary-text-color);
}

/* Header */
.logo {
    color: #212121;
}

.logo .logo-one {
    color: #2196F3;
}

.list-nav .header-link {
    color: #212121;
}

.header-link .location {
    color: #2196F3;
}

.header-link .location:focus,
.header-link .location:hover {
    color: #212121;
}

.list-nav .header-link:hover,
.list-nav .header-link:focus {
    color: var(--backlight-color);
}

.item-link .contacts-link {
    color: #757575;
}

.item-link .contacts-link:hover,
.item-link .contacts-link:focus {
    color: var(--backlight-color);
}

/* Hero */
h1 {
    color: #FFFFFF;
    background-color: #757575;  /*для отображения заголовка*/
}

.service-order {
    color: #FFFFFF;
}

/* Quality */
.item-quality h2 {
    color: var(--heading-h2-h6-text-color);
}

/* Occupation */
.occupation > h2 {
    color: var(--heading-h2-h6-text-color);
}

/* Team */
.team h3 {
    color: var(--heading-h2-h6-text-color);
}

/* Footer */
.item-address .street {
    color: #FFFFFF;
    background-color: var(--primary-text-color); /*для отображения цвета*/
}

.contacts-footer {
    color: rgba(255, 255, 255, 0.6);            /*для отображения цвета*/
    background-color: var(--primary-text-color);
}










